<div class="panel panel-default">
    <div class="panel-heading"> <%= @task.title %> </div>
    <div class="panel-body">
      <p> <strong> Description: </strong><%=  @task.description %> </p>
      <p> <strong> Estimated Time: </strong><%= @task.estimated_time %></p>
      <p> <strong> Time spent: </strong><%=  @task.time_spent %></p>
      <p> <strong> Sprint: </strong><%= @task.sprint.name %></p>
    </div>
  </div>

<% if policy(Task).edit? %>
  <%= link_to 'Edit', edit_project_sprint_task_path(@task.sprint.project,@task.sprint, @task), class: 'btn btn-info' %>
<% end %>

<%= link_to 'Back', project_sprint_tasks_path([@task.sprint.project, @task.sprint]), class: 'btn btn-default' %>
