

  <div class="panel panel-default">
    <div class="panel-heading"> <%= @task.title %> </div>
    <div class="panel-body">
      <p> <strong> Description: </strong><%=  @task.description %> </p>
      <p> <strong> Estimated Time: </strong><%= @task.estimated_time %></p>
      <p> <strong> Real Time: </strong><%=  @task.real_time %></p>
      <p> <strong> Sprint: </strong><%= @task.sprint.name %></p>
    </div>
  </div>
 

<%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-info' %>
<%= link_to 'Back', tasks_path, class: 'btn btn-default' %>
