<%= form_for(sprint) do |f| %>
  <% if sprint.errors.any? %>
    <div id="error_explanation" class = "alert alert-danger fade in">
      <h2><%= pluralize(sprint.errors.count, "error") %> prohibited this sprint from being saved:</h2>

      <ul>
      <% sprint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :opening_date %>
    <%= f.date_select :opening_date, {:order => [:day, :month, :year], :start_year => 1920, :end_year => Time.now.year},
    {:class => "select2 "} %>
  </div>

  <div class="form-group">
    <%= f.label :closing_date %>
    <%= f.date_select :closing_date, {:order => [:day, :month, :year], :start_year => 1920, :end_year => 2100},
    {:class => "select2 "} %>
  </div>

  <div class="fomr-group">
    <%= f.label :project_id %>
  <!--  <%= f.collection_select :project_id , Project.all, :id, :name, {},  {:class=>'select2'} %> -->
    <%= f.select :project_id, current_user.projects.all.collect {|project| [ project.name, project.id ] },{nclude_blank: true,prompt: 'Select Project'}, class: 'select2 form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-success' %>
  </div>
<% end %>
