<%= form_for(sprint) do |f| %>
  <% if sprint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sprint.errors.count, "error") %> prohibited this sprint from being saved:</h2>

      <ul>
      <% sprint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :opening_date %>
    <%= f.date_select :opening_date %>
  </div>

  <div class="field">
    <%= f.label :closing_date %>
    <%= f.date_select :closing_date %>
  </div>

  <div class="field">
    <%= f.label :project_id %>
    <%= f.text_field :project_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
