
<section class="search-results">
  <header>
    <h1 class="h3">Your Sprints</h1>
  </header>
  <ol class="list-group">
    <% @sprints.each do |sprint|  %>
      <li class="list-group-item  clearfix">
        <h2><%= sprint.name %></h2>
        <h3><%= link_to sprint.project.name, sprint.project %></h3>
         <p >Number of Tasks : <%= sprint.tasks.size  %></p>
        <div class="pull-right ">
          <small class='list-group-item list-group-item-info' >Opening Date: <%= sprint.opening_date  %></small>
          <small class='list-group-item list-group-item-info' >Closing date: <%= sprint.opening_date %></small>
        </div>
        <h5>
          <% if policy(Sprint).show? %>
            <%= link_to 'Show', [ sprint.project, sprint], class: 'btn btn-info' %>
          <% end %>
          <% if policy(Sprint).edit? %>
            <%= link_to 'Edit', edit_project_sprint_path(sprint.project, sprint),class: 'btn btn-default' %>
          <% end %>
          <% if policy(Sprint).destroy? %>
            <%= link_to 'Destroy', [sprint.project, sprint], method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' %>
          <% end %>
        </h5>
      </li>
    <% end %>
  </ol>
</section>
<% if policy(Sprint).new? %>
  <%= link_to 'New Sprint', new_project_sprint_path, class: 'btn btn-success' %>
<% end %>
