
<section class="search-results">
  <header>
    <h1 class="h3">Your Sprints</h1>
  </header>
  <ol class="list-group">
    <% @sprints.each do |sprint|  %>
      <li class="list-group-item  clearfix">
        <h2><%= sprint.name %></h2>
        <h3><%= link_to sprint.project.name, sprint.project %></h3>
         <p >Number of Tasks : <%= sprint.tasks.size  %></p>
        <div class="pull-right ">
          <small class='list-group-item list-group-item-info' >Opening Date: <%= sprint.opening_date.strftime('%y/%m/%Y')  %></small>
          <small class='list-group-item list-group-item-info' >Closing date: <%= sprint.opening_date.strftime('%y/%m/%Y') %></small>
        </div>
        <h5><%= link_to 'Show', sprint, class: 'btn btn-info' %> <%= link_to 'Edit', edit_sprint_path(sprint),class: 'btn btn-default' %> <%= link_to 'Destroy', sprint, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' %></h5>
      </li>
    <% end %>
  </ol>
</section>

<%= link_to 'New Sprint', new_sprint_path, class: 'btn btn-success' %>
