<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :opening_date %>
    <%= f.date_select :opening_date %>
  </div>

  <div class="field">
    <%= f.label :closing_date %>
    <%= f.date_select :closing_date %>
  </div>

  <div class="field">
    <%= f.label :expected_value %>
    <%= f.text_field :expected_value %>
  </div>
  
 <div class="field">
      <%= f.label :users %>
      <%= f.collection_select :user_ids, User.all, :id, :email, {},  {:multiple => true, :class=>'select2'} %> 
 <div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
