
<section class="search-results">
  <header>
    <h1 class="h3">Your Projects</h1>
  </header>
  <ol class="list-group">
    <% @projects.each do |project|  %>
      <li class="list-group-item  clearfix">
        <h2><%= project.name %></h2>
        <div class="pull-right ">
          <small class='list-group-item list-group-item-info' >Opening Date: <%= project.opening_date  %></small>
          <small class='list-group-item list-group-item-info' >Closing date: <%= project.closing_date %></small>
        </div>
        <h5>
          <% if policy(Project).show? %>
            <%= link_to 'Show', project, class: 'btn btn-info' %>
          <% end %>
          <% if policy(Project).edit? %>
            <%= link_to 'Edit', edit_project_path(project),class: 'btn btn-default' %>
          <% end %>
          <% if policy(Project).destroy? %>
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' %>
          <% end %>
        </h5>
      </li>
    <% end %>
  </ol>
</section>
<% if policy(Project).new? %>
  <%= link_to 'New Project', new_project_path, :class => 'btn btn-success' %>
<% end %>
