<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Opening date:</strong>
  <%= @project.opening_date.strftime('%y/%m/%Y') %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @project.closing_date.strftime('%y/%m/%Y') %>
</p>

<p>
  <strong>Expected value:</strong>
  <%= @project.expected_value %>
</p>

<p>
  <strong> Users in this project </strong>
  <ul>
    <% @project.users.each do |user| %>
	<li> <%= user.email %></li>
    <% end %>
  </ul>
</p>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
