
<div class="panel panel-default">
    <div class="panel-heading"> <%= @project.name %> </div>
    <div class="panel-body">
    <p> <strong> Opening date: </strong><%=  @project.opening_date %> </p>
      <p> <strong> Closing date: </strong><%= @project.closing_date %></p>
      <p> <strong> Expected value: </strong><%=  number_to_currency @project.expected_value,{unit: 'R$ '} %></p>
      <div class="panel panel-default" > <div class="panel-heading"> Users in this project </div>
	<div class="panel-body">
          <% @project.users.each do |user| %>
            <p> <%= user.email %></p>
          <% end %>
       </div>
     </div>
     <div class="panel panel-default" > <div class="panel-heading"> Sprintis of this project </div>
        <div class="panel-body">
          <% @project.sprints.each do |sprint| %>
            <p> <%= link_to sprint.name, [@project,sprint]   %></p>
          <% end %>
       </div>
     </div>

    </div>
  </div>

<div class='pull-right' >
  <% if policy(Project).edit? %>
    <%= link_to 'Edit', edit_project_path(@project), class:'btn btn-info' %>
  <% end %>
  <% if policy(Project).edit? %>
    <%= link_to 'Back', projects_path, class: 'btn btn-default' %>
  <% else %>
    <%= link_to 'Home', root_path, class: 'btn btn-default' %>
  <% end %>
</div>
