<!DOCTYPE html>
<html>
  <head>
    <title>DjRo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class='container'>
        <% unless notice.nil? %>
          <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strog><%= notice %></strong>
          </div>
        <% end %>
        <% unless alert.nil? %>
          <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong ><%= alert %></strong>
          </div>    
        <% end %> 
        
       <% if user_signed_in? %>
          <nav class="navbar navbar-default navbar-fixed-top">
  	    <div class="container">
    	       <%= link_to 'Projects', projects_path, class:"btn btn-default navbar-btn"  %>
               <%= link_to'Sprints', sprints_path, class:"btn btn-default navbar-btn"  %>
               <%= link_to'Tasks', tasks_path, class:"btn btn-default navbar-btn" %>
               <%= link_to'Logout', destroy_user_session_path, :method => :delete, class:"btn btn-warning navbar-btn pull-right"  %>
  	    </div>
	  </nav> 
       <% end %> 
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
            <input type="text" class="form-control" placeholder="Search for...">
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->     
      <%= yield %>
    </div>
  </body>
</html>
