<!DOCTYPE html>
<html>
  <head>
    <title>DjRo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class='container'>
        <% unless notice.nil? %>
          <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strog><%= notice %></strong>
          </div>
        <% end %>
        <% unless alert.nil? %>
          <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong ><%= alert %></strong>
          </div>    
        <% end %>  
       <% if user_signed_in? %>
     	 <div>
           <div>Signed in as... <%= current_user.email %></div>
       	   <%= link_to('Projects', projects_path) %>
       	   <%= link_to('Sprints', sprints_path) %>
           <%= link_to('Tasks', tasks_path) %>
           <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
         </div> 
      <% end %> 
     
      <%= yield %>
    </div>
  </body>
</html>
